.header {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: white;
    height: 50px;
    width: 100vw;
}
